<!DOCTYPE html>

<title>Industry index</title>

{% block body %}
    <h1>Industry index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for industry in industries %}
            <tr>
                <td>{{ industry.id }}</td>
                <td>{{ industry.name }}</td>
                <td>
                    <a href="{{ path('admin.industry.edit', {'id': industry.id}) }}">edit</a>
                    {{ include('admin/industry/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin.industry.new') }}">Create new</a>
{% endblock %}
