{{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.amount) }}
    {{ form_row(form.priority) }}
    {{ form_row(form.expected_close_date) }}
    {{ form_row(form.opportunityStage) }}

    <button class="btn">Save</button>

{{ form_end(form) }}


